{% extends 'base.html' %}

{% block navbar %}
<div class="row align-items-center">
    <div class="col">
      <div class="input-icon">
          <span class="input-icon-addon">
              <i class="si-search fs-1"></i>
          </span>
          <input id="search" type="text" value="" class="form-control form-control-rounded m-2" placeholder="Rechercher dans les utilisateurs">
      </div>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
            {% if current_user.has_authorization("Admin.new_user") %}
            <a href="#" class="btn btn-outline-success" onclick="window.location='{{ config['APP_BASE_URL'] }}/user'">
                <span class="icon-nav-bar d-md-none d-lg-inline-block">
                    <i class="si-user-plus fs-2"></i>
                </span>
                Ajouter un utilisateur
            </a>
            {% endif %}
      </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="page-body">  
    <div id="table" class="table-responsive">
        <table class="table table-vcenter">
            <thead class="sticky-top">
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th class="hidden-mobile">Dernière connexion</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="cursor-pointer" onclick="window.location='{{ config['APP_BASE_URL'] }}/user/{{ user.id }}'">
                    <td class="nom">{{ user.name }}</td>
                    <td class="email">{{ user.email }}</td>
                    <td class="last_connection  hidden-mobile">{{ user.lastconnection }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}