{% extends 'base.html' %}


{% block navbar %}
<div class="row align-items-center">
    <div class="col">
      <div class="input-icon">
          <span class="input-icon-addon">
              <i class="si-search fs-1"></i>
          </span>
          <input id="search" type="text" value="" class="form-control form-control-rounded m-2" placeholder="Rechercher dans les comptes">
      </div>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        {% if current_user.has_authorization("Compte") %}
        <a href="#" class="btn btn-outline-success" onclick="window.location='{{ config['APP_BASE_URL'] }}/compte'">
            <span class="icon-nav-bar d-md-none d-lg-inline-block">
                <i class="si-share fs-2"></i>
            </span>
            Ajouter un compte
        </a>
        {% endif %}
        <a href="#" class="btn btn-outline-success without-border" onclick="export_table_to_csv('table', 'comptes.csv');">
            <span class="icon-nav-bar d-md-none d-lg-inline-block">
                <i class="si-download fs-2"></i>
            </span>
        </a>
      </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="page-body">  
    <div class="table-responsive">
        <table id="table" class="table table-vcenter">
            <thead class="sticky-top">
                <tr>
                    <th>Nom</th>
                    <th>Montant</th>
                    <th>Montant Rapproché</th>
                    <th>Default</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for compte in comptes %}
                <tr class="cursor-pointer" onclick="window.location='{{ config['APP_BASE_URL'] }}/compte/{{ compte.id }}'">
                    <td>{{ compte.name }}</td>
                    <td class="{% if compte.mvts | sum(attribute='value') >= 0 %}text-green{% else %}text-red{% endif %}">{{ "%.2f €"|format(compte.mvts | sum(attribute='value')) }}</td>
                    <td class="{% if compte.mvts | rejectattr('closed.name', 'eq', 'non') | sum(attribute='value') >= 0 %}text-green{% else %}text-red{% endif %}">{{ "%.2f €"|format(compte.mvts | rejectattr('closed.name', 'eq', 'non') | sum(attribute='value')) }}</td>
                    <td><span  class="status {% if compte.default.name == 'oui' %}status-green{% else %}status-blue{% endif %}">{{ compte.default.name }}</span></td>
                    <td><span  class="status {% if compte.status.name == 'ouvert' %}status-green{% else %}status-red{% endif %}">{{ compte.status.name }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}