{% extends 'base.html' %}


{% block navbar %}
<div class="row align-items-center">
    <div class="col">
      <div class="input-icon">
          <span class="input-icon-addon">
              <i class="si-search fs-1"></i>
          </span>
          <input id="search" type="text" value="" class="form-control form-control-rounded m-2" placeholder="Rechercher dans les mouvements">
      </div>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        {% if current_user.has_authorization("Mouvement") %}
        <a href="#" class="btn btn-outline-success" onclick="document.getElementById('new').classList.remove('hidden');this.nextElementSibling.classList.remove('hidden');this.classList.add('hidden');">
            <span class="icon-nav-bar d-md-none d-lg-inline-block">
                <i class="si-share fs-2"></i>
            </span>
            Ajouter un mouvement
        </a>
        <a href="#" class="btn btn-outline-success hidden" onclick="window.document.formmvt.submit(); document.getElementById('new').classList.add('hidden');">
            <span class="icon-nav-bar d-md-none d-lg-inline-block">
                <i class="si-disk fs-2"></i>
            </span>
            Enregistrer un mouvement
        </a>
        {% endif %}
        <a href="#" class="btn btn-outline-success without-border" onclick="export_table_to_csv('table', 'mouvements.csv');">
            <span class="icon-nav-bar d-md-none d-lg-inline-block">
                <i class="si-download fs-2"></i>
            </span>
        </a>
      </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="page-body">  
    <form action="{{ config['APP_BASE_URL'] }}/mouvements" class="new" method="POST" name="formmvt">
        <div id="new" class="table-responsive hidden">
            <table style="width: 90%;">
                <tr>
                    <td><label class="form-label m-2">Compte: </label></td>
                    <td>
                        <select class="form-select form-control m-2" id="id_compte" name="id_compte">
                            {% for compte in comptes %}
                                {% if compte.status.name == 'ouvert' %}
                                <option value="{{ compte.id }}" {% if compte.default.name == 'oui' %}selected{% endif %}>{{ compte.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label class="form-label m-2">Type de Mouvement: </label></td>
                    <td>
                        <select class="form-select form-control m-2" id="typ" name="typ">
                            <option value="debit" selected>debit</option>
                            <option value="credit">credit</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label class="form-label m-2">Date: </label></td>
                    <td><input class="form-control m-2" placeholder="Select a date" value="{{ now.strftime('%d/%m/%Y') }}"  name="dte" id="dte"></input></td>
                </tr>
                <tr>
                    <td><label class="form-label m-2">Tiers: </label></td>
                    <td class="select-editable">
                        <select class="form-select form-control m-2" onchange="this.nextElementSibling.value=this.value">
                            {% for tier in tiers %}
                                <option value="{{ tier }}">{{ tier }}</option>
                            {% endfor %}
                        </select>
                        <input class="form-control m-2" name="tiers" id="tiers" value="{{ tiers[0] }}"></input>
                    </td>
                </tr>
                <tr>
                    <td><label class="form-label m-2">Montant: </label></td>
                    <td><input class="form-control m-2" name="value" id="value"></input></td>
                </tr>
                {% for axe in axes %}
                <tr>
                    <td><label class="form-label m-2">{{ axe.name }}</label></td>
                    <td>
                        <select class="form-select form-control m-2" name="axe-{{ axe.id }}" id="axe-{{ axe.id }}">
                            {% for value in axe.listing.split('\n') %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>                                
                {% endfor %}                
                <tr>
                    <td><label class="form-label m-2">Description: </label></td>
                    <td><textarea class="form-control m-2" name="description" rows="5"  id="description" placeholder="Content.."></textarea></td>
                </tr>
            </table>
        </div>
    </form>
    <div class="table-responsive">
        <table id="table" class="table table-vcenter">
            <thead class="sticky-top">
                <tr>
                    <th>id</th>
                    <th>compte</th>
                    <th>date</th>
                    <!--<th>type</th>-->
                    <th>tiers</th>
                    <th>montant</th>
                    <th>rapprocher</th>
                </tr>
            </thead>
            <tbody>
                {% for mvt in mvts %}
                <tr class="cursor-pointer">
                    <td>{{ mvt.id }}</td>
                    <td>{{ mvt.compte.name }}</td>
                    <td>{{ mvt.dte.strftime('%d/%m/%Y') }}</td>
                    <!--<td>{{ mvt.typ.name }}</td>-->
                    <td>{{ mvt.tiers }}</td>
                    <td class="{% if mvt.value > 0 %}text-green{% else %}text-red{% endif %}">{{ '%0.2f €'| format(mvt.value) }}</td>
                    <td><span class="status {% if mvt.closed.name == 'oui' %}status-green{% else %}status-blue{% endif %}">{{ mvt.closed.name }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
    	window.Litepicker && (new Litepicker({
    		element: document.getElementById('dte'),
    		buttonText: {
    			previousMonth: '<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left --><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>',
    			nextMonth: '<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right --><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>',
    		},
            lang:'fr-FR',
            format:'DD/MM/YYYY',
    	}));
    });
    // @formatter:on
</script>
{% endblock %}