{% extends 'base.html' %}


{% block body %}
<div class="page page-center">
  <div class="container-tight py-4">
    <div class="empty">
      <div class="empty-header">404</div>
      <p class="empty-title">Oups… Vous avez dû vous perdre</p>
      <p class="empty-subtitle text-muted">
        La page que vous cherchez n'existe pas.
      </p>
      <div class="empty-action">
        <a href="/" class="btn btn-outline-info">
          <i class="si-home fs-2"></i>
          Me ramener à l'accueil
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}